.App {
  font-family: sans-serif;
  text-align: center;
  margin-top: 50px;
}

.App .WeatherApp {
  max-width: 40%;
  margin: 0px auto;
  margin-top: 50px;
  border: solid grey 2px;
  padding: 10px;
  border-radius: 10px;
}

@media (max-width: 500px) {
  .App .WeatherApp {
    max-width: 80%;
    margin-top: 30px;
    border: solid grey 1px;
    padding: 5px;
    border-radius: 1.5px;
  }
}
