.rain {
  max-width: 50%;
  height: auto;
}

li {
  list-style: none;
  text-align: left;
  font-size: 15px;
}

ul {
  padding: 0px;
}

@media (max-width: 768px) {
  li {
    text-align: center;
    font-size: 14px;
  }
}
