.WeatherToday li {
  list-style: none;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  
}

.WeatherToday .weatherRow {
  margin: 0px auto;
}

.WeatherToday ul {
  padding: 0px;
  margin-top: 28px;
}

.WeatherToday .weatherSubject {
  opacity: 0.6;
}


@media (max-width: 768px) {
  li {
    text-align: center;
    font-size: 14px;
  }
}
